<!DOCTYPE html>
<html>
<head>
  <title>Notifix</title>
  <%= stylesheet_link_tag    "notifix/application", media: "all" %>
  <%= javascript_include_tag "notifix/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
